<div class="row">
    <div class="span12">
        <form class="well form-search">
            <div class="control-group">
                <input type="text" class="input-medium search-query" placeholder="Name" value="<%= name %>" />
                <button type="submit" class="btn btn-primary">
                    <i class="icon-search icon-white"></i>
                    Search
                </button>
                <p class="help-block off"></p>
            </div>
        </form>
    </div>
</div>